<configuration>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
%green(%d{HH:mm:ss.SSS}) %magenta(%thread) %highlight(%-5level) %cyan(%logger{0}) %blue(%M) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.FileAppender">

        <file>logs/app.log</file>

         <append>true</append> <!-- Se for false, ele vai reiniciar o log junto com a aplicação -->

        <encoder>
            <pattern>
%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
